@{
    ViewBag.Title = "Minhas Despesas";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/despesas/minhasdespesas">Despesas</a>
    </li>
    <li class="breadcrumb-item active">Minhas Despesas</li>
</ol>

@Html.Partial("_TableMinhasDespesasPartialView")