@{
    ViewBag.Title = "Minhas Contas";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/contas/minhascontas">Contas</a>
    </li>
    <li class="breadcrumb-item active">Minhas Contas</li>
</ol>

@Html.Partial("_TableMinhasContasPartialView")