@model OEconomicoPessoal.Entidades.Conta

@{
    ViewBag.Title = "Nova Conta";
}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/contas/nocaconta">Contas</a>
    </li>
    <li class="breadcrumb-item active">Nova Conta</li>
</ol>

<div class="card mx-auto mt-auto">
    <div class="card-header">Adicionar nova conta </div>

    <div class="panel panel-danger">
        @*<div class="panel-heading">
            <div class="alert alert-success">
                <h4 class="text-lg-left">Adicionar Nova Conta</h4>
            </div>
        </div>*@
        @*<div class="panel-danger">
                <h3 class="text-lg-left">Nova Conta</h3>
                <div class="alert alert-danger">
                        <h4 class="text-lg-left">Adicionar Nova Despesa</h4>
                </div>
            </div>*@

        @using (Html.BeginForm("novaconta", "contas", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <br />
            <div class="container row">
                <div class="form-group col-md-4">
                    <label class="col-form-label" for="`descricao">Descrição</label>
                    <input type="text" class="form-control" id="descricao" name="descricao" required />
                </div>
                <div class="form-group col-md-3">
                    <label class="col-form-label" for="valor">Valor Inicial</label>
                    <input type="text" class="form-control" id="valor" name="valor" required />
                </div>

            </div>

            <div class="container row">
                <div class="form-group col-md-4">
                    <input type="submit" value="Salvar Conta" formmethod="post" class="btn btn-lg btn-success" />
                </div>
            </div>
        }
    </div>
</div>

   

    @Html.Partial("_MensagemErroPartial")
    @Html.Partial("_MensagemSucessoPartial")


