@{
    ViewBag.Title = "Minhas Receitas";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/receitas/minhasreceitas">Receitas</a>
    </li>
    <li class="breadcrumb-item active">Minhas Receitas</li>
</ol>
<h2></h2>

@Html.Partial("_TableMinhasReceitasPartialView")

