<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Meu Financeiro | Controle seus gastos de forma simples e rápido</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/oeconomico/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/oeconomico/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Content/oeconomico/css/sb-admin.min.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-white" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" id="mainNav">
        <a class="navbar-brand" href="/account/login"><h3>Meu Financeiro</h3> </a>
        
    </nav>
        
        <div class="container body-content">
            @RenderBody()
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/Content/oeconomico/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/oeconomico/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Content/oeconomico/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Content/oeconomico/js/sb-admin.min.js"></script>
   
</body>
</html>
